:root {
    --bg-color: #333;
    --text-color: #fff;
    --accent-color: #007bff;
    --gray-color: #ccc;
}

.movies-input {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}

.movies-btn {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}

.movies-badge {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}

.movies-text-gray {
    /* background-color: var(--bg-color) !important; */
    color: var(--gray-color) !important;
}

.dark-background {
    background-color: #1f1f1f;
    color: whitesmoke;
}