:root {
    --bg-color: #333;
    --text-color: #fff;
    --accent-color: #007bff;
    --gray-color: #ccc;
}

.movies-input {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}

.movies-btn {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}

.movies-badge {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}

.movies-text-gray {
    /* background-color: var(--bg-color) !important; */
    color: var(--gray-color) !important;
}

.dark-background {
    background-color: #1f1f1f;
    color: whitesmoke;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/cinema-background.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.background-image::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    /* Change the alpha value to adjust the opacity of the overlay */
}